<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>時間割名</th>
            <th>説明</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% schedule_count = 1 %>
          <% @schedules.each do |schedule| %>
            <tr>
              <td><strong><%= schedule_count %></strong></td>
              <td><%= link_to schedule.name, schedule_path(schedule) %></td>
              <td><%= schedule.explanation %></td>
              <td>
                <div class="d-flex justify-content-center">
                  <%= link_to "削除", schedule_path(schedule), method: :delete, data: { confirm: '本当に消しますか？'}, class: "col-6 btn btn-danger form-control" %>
                </div>
              </td>
            </tr>
            <% schedule_count += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>