<h1>schedules#index</h1>

<h4>スケジュール</h4>
  <%= link_to "作成", new_schedule_path %>
<p>一覧</p>
<%= @schedules.each do |schedule| %>
  <p>
    <%= link_to schedule.name, schedule_path(schedule) %>
  </p>
<% end %>