<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>時間割</th>
            <th>説明</th>
          </tr>
        </thead>
        <tbody>
          <% schedule_count = 1 %>
          <% @schedules.each do |schedule| %>
            <tr>
              <td><strong><%= schedule_count %></strong></td>
              <td><%= link_to schedule.name, schedule_path(schedule) %></td>
              <td><%= schedule.explanation %></td>
            </tr>
            <% schedule_count += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>