<% if admin_signed_in? %>
  <p class="text-center">管理者ログイン中</p>
<% else %>
  <div class="d-flex justify-content-center pt-4">
    <div style="font-size: 30px;">
      <% if user_signed_in? %>
        <i class="fa-regular fa-circle-user"></i>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="pl-3 fa-solid fa-right-from-bracket"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <i class="fa-solid fa-user-plus"></i>
        <% end %>
        <%= link_to new_user_session_path do %>
          <i class="pl-3 fa-solid fa-right-to-bracket"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>